html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin-top: 7rem;
  padding: 0;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  /* different shade */
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  width: 99%;
  margin-bottom: 2rem;
  /* z-index: 100; */
}

.logo img {
  height: 40px;
}

.top-right {
  display: flex;
  align-items: center;
}


.top-right a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.top-right img {
  height: 20px;
  margin-left: 10px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  text-align: left;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #4a5ef8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
.shoppingButton:hover {
  background-color: #3a4cc8;
}

/* home page */
.homepageTitle {
  font-weight: 700;
  font-size: 2rem;
  margin-left: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.homeContainer {
  display: flex;
  height: 90%;

  .filters {
    width: 10rem;
    margin-right: 4rem;

    .filterDiv {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0 1rem 1rem;

      .filterDivText {
        padding-right: 1rem;

      }

      .filterPlusButton {
        background-color: transparent;
        color: grey;
        font-size: 1rem;
        padding: 0;
        font-weight: 700;
      }
    }

    .filterOptions {
      display: none;
      padding-left: 1rem;

      input {
        margin: 1rem 0.5rem 0 0;
      }

      .filterOption {
        padding-bottom: 1rem;
      }
    }

    .confirmButton {
      margin: 1rem 0 0 0.5rem;
      width: 100%;
    }
  }

  .games {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    height: 4rem;

    div {
      padding: 1rem 0 4rem 1rem;
    }

    .gameDesc {
      padding: 0;

      div {
        font-size: 0.8rem;
        padding: 0;
      }

      .gameName {
        font-weight: 700;
      }

      .gamePrice {
        font-weight: 700;
        margin-top: 0.7rem;
      }
    }
  }

  .gamePicDiv {
    width: 230px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .gamePic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.shoppingButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  border-radius: 1.2rem;
  background-color: #4a5ef8;
  color: white;
  cursor: pointer;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.shoppingCart {
  width: 3rem;
}

.cartModal,
.adminStockModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 100%;
  overflow: auto;
}

#admin-modal-content {
  margin: 0;
  width: 80%;
  height: 100%;
  max-width: 37.5rem;
  overflow: auto;
}

.close,
.adminStockClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.adminStockClose:hover,
.adminStockClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cartButton {
  width: 3rem;
  margin: 0;
  background-color: white;

  img {
    width: fit-content;
    margin: 0;
    padding: 0;
  }
}



.user-container {
  position: relative;
  display: inline-block;
}

.user-icon {
  cursor: pointer;
}

.user-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
  border-radius: 4px;
  padding: 12px;
}

.user-menu a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.user-menu a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.user-info,
.email-info {
  display: flex;
}

.adminStockButton {
  display: none;
}