html {
  height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; /* different shade */
    border-bottom: 1px solid #ddd;
  }
  
  .logo img {
    height: 40px;
  }
  
  .top-right {
    display: flex;
    align-items: center;
  }
  
  .top-right a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
  }
  
  .top-right img {
    height: 20px;
    margin-left: 10px;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    text-align: left;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #4a5ef8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover, .shoppingButton:hover {
    background-color: #3a4cc8;
  }
  
  /* home page */
  .homepageTitle {
    font-weight: 700;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .homeContainer {
    display: flex;
    height: 90%;

    .filters {
      width: 10rem;
      margin-right: 4rem;
      .filterDiv {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0 1rem 1rem;
        .filterDivText {
          padding-right: 1rem;

        }
        .filterPlusButton {
          background-color: transparent;
          color: grey;
          font-size: 1rem;
          padding: 0;
          font-weight: 700;
        }
      }
      .filterOptions {
        display: none;
        padding-left: 1rem;
        input {
          margin: 1rem 0.5rem 0 0;
        }
        .filterOption {
          padding-bottom: 1rem;
        }
      }
      .confirmButton {
        margin: 1rem 0 0 0.5rem;
        width: 100%;
      }
    }

    .games {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 10px;
      height: 4rem;
      div {
        padding: 1rem 0 4rem 1rem;
      }
      .gameDesc {
        padding: 0;
        div {
          font-size: 0.8rem;
          padding: 0;
        }
        .gameName {
          font-weight: 700;
        }
        .gamePrice {
          font-weight: 700;
          margin-top: 0.7rem;
        }
      }
    }
    .gamePic {
      width: 15.5rem;
      height: 15.5rem;
      object-fit: cover;
    }
  }

  .shoppingButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0 1rem;
    border: none;
    border-radius: 1.2rem;
    background-color: #4a5ef8;
    color: white;
    cursor: pointer;
  }
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

