html {
  height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; /* different shade */
    border-bottom: 1px solid #ddd;
  }
  
  .logo img {
    height: 40px;
  }
  
  .top-right {
    display: flex;
    align-items: center;
  }
  
  .top-right a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
  }
  
  .top-right img {
    height: 20px;
    margin-left: 10px;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    text-align: left;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #4a5ef8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3a4cc8;
  }
  
  /* home page */
  .homepageTitle {
    font-weight: 700;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .homeContainer {
    display: flex;
    height: 90%;

    .filters {
      width: 10rem;
      margin-right: 4rem;
      div {
        padding: 2rem 0 2rem 1rem;
      }
    }

    .games {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 10px;
      height: 4rem;
      img {
        height: fit-content;
        
      }
      div {
        padding: 1rem 0 4rem 1rem;
      }
      .gameDesc {
        padding: 0;
        div {
          font-size: 0.8rem;
          padding: 0;
        }
        .gameName {
          font-weight: 700;
        }
        .gamePrice {
          font-weight: 700;
          margin-top: 0.7rem;
        }
      }
    }
    .gamePic {
      width: 10rem;
    }
  }

  .shoppingButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0 1rem;
    border: none;
    border-radius: 1.2rem;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
  }

  .shoppingButton:hover {
    background-color: #ff5500;
  }
