<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <a href="/">
            <div class="logo">
                <img src="/images/gameStore.png" alt="Logo">
            </div>
        </a>
        <div class="top-right">
            
        </div>
    </header>
    <div class="container">
        <h1>Welcome to GameCentral!</h1>
        <a href="shoppingPage">
            <div class="shoppingButton">
                <div>Shop</div>
            </div>
        </a>
    </div>
    <script src="js/shoppingPage.js"></script>
  <script>
    // Call the updateUserStatus function once the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', updateUserStatus);
  </script>
</body>

</html>