<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <script src="../public/js/shoppingPage.js"></script>
</head>

<body>
    <header>
        <a href="homePage.html">
            <div class="logo">
                <img src="../public/images/gameStore.png" alt="Logo">
            </div>
        </a>
        <div class="top-right">
            <a href="signinPage.html">Sign in</a>
            <span>|</span>
            <a href="registerPage.html">Register</a>
            <img src="../public/images/FlagofCanada.png" alt="Canadian Flag">
            <span>CAD</span>
        </div>
    </header>
</body>

</html>