<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
  <header>
    <a href="homePage.html">
      <div class="logo">
          <img src="../public/images/gameStore.png" alt="Logo">
      </div>
  </a>
    <div class="top-right">
      <a href="signinPage.html">Sign in</a>
      <span>|</span>
      <a href="registerPage.html">Register</a>
      <img src="../public/images/FlagofCanada.png" alt="Canadian Flag">
      <span>CAD</span>
    </div>
  </header>
  <div class="container">
    <h1>Sign in to your account</h1>
    <form id="signin-form" action="/api/signin" method="POST">
      <label for="email">Email address</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Sign in</button>
    </form>
  </div>
</body>
</html>
