<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/userHomePage.js"></script>
</head>

<body>
    <header>
        <a href="/">
            <div class="logo">
              <img src="/images/gameStore.png" alt="Logo">
            </div>
          </a>
          <div class="top-right" id="top-right">
            <div class="login-block" id="login-block">
              <a href="/signinPage">Sign in</a>
              <span>|</span>
              <a href="/registerPage">Register</a>
              <img src="/images/FlagofCanada.png" alt="Canadian Flag">
              <span>CAD</span>
            </div>
          </div>
    </header>
    <body>
        <div class="user-page">
            <h1>Your Information</h1>
            <div class="user-info">
                <div class="username"><strong>Username:</strong> </div>
                <div id="username"></div>
            </div>
            <div class="email-info">
                <div class="email"><strong>Email:</strong>  </div>
                <div id="email"></div>
            </div>
            <h1>Order List</h1>
            <div id="orders-container">
                <div class="order">
                </div>
            </div>        
        </div>
    </body>
</body>

</html>